@model GestionCinema.Models.Seance

@{
    ViewData["Title"] = "Details";
}

<h1>Details de la séance</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.Cinema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.Cinema.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.NumeroSalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.NumeroSalle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Duree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Duree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NbPlaceAchete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NbPlaceAchete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour a la liste des séances</a>
</div>
