@model GestionCinema.Models.Seance

@{
    ViewData["Title"] = "Details";
}

<h1>Details de la séance </h1>

<div>
    <hr />
    <fieldset class="fieldset-style p-3">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Film.Nom)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Film.Nom)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Film.Resume)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Film.Resume)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Salle.Cinema)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Salle.Cinema.Nom)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Salle.NumeroSalle)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Salle.NumeroSalle)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Film.Duree)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Film.Duree)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NbPlaceAchete)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NbPlaceAchete)
            </dd>
        </dl>
    </fieldset>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark"><i class="bi bi-pencil-fill"></i> Modifier</a>
</div>
<div class="text-center mt-3">
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Supprimer</a>
</div>
<div class="mt-5">
    <a class="text-decoration-none" asp-action="Index"><i class="bi bi-arrow-left-circle-fill"></i> Retour à la page précédente</a>
</div>
