@model IEnumerable<GestionCinema.Models.Seance>

@{
    ViewData["Title"] = "Recherche des films du cinéma";
}
<div class="text-center">

    <h2 class="mb-5">|Films du cinéma </h2>

    <div class="card-group mt-5">
        <div class="row justify-content-start">
            @foreach (var item in (IEnumerable<Seance>)ViewData["seances"])
            {
                <div class="col-xl-4 col-md-3 col-sm-2 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Film.Nom)</h5>
                            <p class="card-text text-truncate-2">@Html.DisplayNameFor(modelItem => item.Film.Realisateur) :
                                @Html.DisplayFor(modelItem => item.Film.Realisateur),
                                <br />@Html.DisplayFor(modelItem => item.Film.Resume),
                                <br />@Html.DisplayNameFor(modelItem => item.Film.Duree) : @Html.DisplayFor(modelItem =>
                            item.Film.Duree).
                            </p>
                            <a asp-controller="Film" asp-action="Details" asp-route-id="@item.FilmId"
                            class="btn btn-primary">Plus d'info</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="mt-4">
            <a class="text-decoration-none" asp-controller="Cinema" asp-action="Index"><i
                    class="bi bi-arrow-left-circle-fill"></i>
                Retour à la
                la page précédente</a>
        </div>
    </div>