@model GestionCinema.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h2 class="mb-5">| Details du film @Html.DisplayFor(model => model.Nom)</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Realisateur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Realisateur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour a la liste</a>
</div>
