@model IEnumerable<GestionCinema.Models.Cinema>

@{
    ViewData["Title"] = "Les cinémas";
}
<h2 class="mb-5">| Les différents cinémas</h2>
<a class="btn btn-dark" asp-controller="Cinema" asp-action="Create"><i class="bi bi-plus-circle"></i> Ajouter un cinéma</a>
<a class="btn btn-dark" asp-controller="Cinema" asp-action="SearchCinemas"><i class="bi bi-search"></i> Chercher un cinéma</a>
<div class="container pt-4">
    <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-sm p-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/img/cinema.jpg" alt="Cinema image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Adresse), @Html.DisplayFor(modelItem =>
                            item.CodePostal) @Html.DisplayFor(modelItem => item.Ville).</p>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Plus d'info</a>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
    