@model IEnumerable<GestionCinema.Models.Cinema>

@{
    ViewData["Title"] = "Les cinémas";
}

<div class="context">
    <h2>Cinémas</h1>

        <p>
            <a asp-action="Create">Ajouter un nouveau cinéma</a>
        </p>
        <p>
            <a asp-controller="Cinema" asp-action="FindCinemas">Trouver un cinéma</a>
        </p>
        <div class="row row justify-content-start mt-2">
            @foreach (var item in Model)
            {
                <div class="col-4 p-2">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../wwwroot/img/cinema.jpg" alt="Cinema image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Adresse), @Html.DisplayFor(modelItem =>
                            item.CodePostal) @Html.DisplayFor(modelItem => item.Ville).</p>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Plus d'info</a>
                        </div>
                    </div>
                </div>
            }
        </div>

</div>
