@model GestionCinema.Models.Salle

@{
    ViewData["Title"] = "Details";
}

<h1>Details de la salle</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroSalle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NbPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NbPlace)
        </dd>
    </dl>
</div>
<div class="row justify-content-around custom-line">
    <div class="col-3">
        <a asp-action="Index" class="btn btn-secondary">Retour a la liste</a>
    </div>
    <div class="col-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifier</a>
    </div>
    <div class="col-3">
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Supprimer</a>
    </div>
</div>
